/* Global styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

video {
  width: 100%;
}

/* Utility classes */

.visually-hidden {
  clip-path: inset(50%);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
}

/* Styles */

.page {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #fff;
  margin: auto;
  align-items: center;
  display: flex;
  background-color: #1b1919;
  block-size: 100%;  
  inline-size: 1200px;
  font-size: 18px;
}

.content {
  display: flex;
  margin: 0 30px;
  inline-size: 100%;
  gap: 30px;
}

.result {
  align-self: flex-end;
}

.result__video-container {
  margin: 0 0 11px;
  position: relative;
  inline-size: 711px;
}

.search-form {
  gap: 40px;
  align-items: center;
  display: flex;
}

.result__video {
  object-position: center;
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

.search-form__fieldset {
  gap: 5px;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.search-form__label:hover {
  text-underline-offset: 5px;
  text-decoration: underline 1px #FFF;
}

.search-form__label:has(:focus-visible) {
  outline-offset: 1px;
  outline: 1px solid #FFF;
}

.search-form__textfield {
  padding: 2px 0;
  color: currentColor;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  inline-size: 225px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: none;
  border-right: none;
 
}

.search-form__textfield::placeholder {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #FFF;
}

.search-form__checkbox-list {
  gap: 15px;
  display: flex;
}

.search-form__pseudo-checkbox {
  display: block;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  background-color: #FFF;
  display: block;
  margin: 1px 0 0 1px;
  block-size: 15px;
  inline-size: 15px;
}

.button {
  padding: 6px 0;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: center;
  inline-size: 100%;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline 1px #FFF;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #FFF;
}

.search-form__submit-button {
  align-self: flex-end;
}

.content__details {
  inline-size: 100%;
}

.title {
  padding: 0 0 26px;
  font-weight: 700;
  font-size: 75px;
  font-family: Oswald, sans-serif;
  color: #FFF;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  block-size: 298px;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item:not(:last-child) {
  margin: 0 0 34px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  padding: 2px 2px 5px;
  hyphens: auto;
  color: #FFF;
  font-weight: 700;
  line-height: 1;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description {
  line-height: 16.2px;
  font-weight: 400;
  padding: 0 2px;
  color: #FFF;
}